
<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - EticaretApp</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">



<link rel="stylesheet" href="~/ui-template/css/swiper.css" />
<link rel="stylesheet" href="~/ui-template/css/bootstrap.css" />

<link rel="stylesheet" type="text/css" href="~/ui-template/css/vendor.css">
<link rel="stylesheet" type="text/css" href="~/ui-template/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@300;400;500&display=swap"
  rel="stylesheet">

</head>

<body>

    @await Component.InvokeAsync("UI_HeaderPartialComponent")
 

    @RenderBody()

  

 

    @await Component.InvokeAsync("UI_FooterPartialComponent")

    @await Component.InvokeAsync("UI_ScriptsPartialComponent")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
